﻿@model SemedInstitucional.Models.Grupo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header with-border">
        <h6 class="m-0 font-weight-bold text-primary">DETALHES </h6>
    </div>
    <div class="card-body">
            <dl class="dl-horizontal">
                                                        <dt>
                    @Html.DisplayNameFor(model => model.Assunto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Assunto)
                </dd>

                                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>

                    </dl>
        <div class="row">
            <div class="col-5 col-md-3">
                @Html.ActionLink("EDITAR", "Edit", null, new { id = Model.ID }, new { @class = "btn btn-warning btn-block btn-sm"})
            </div>
            <div class="col-5 col-md-3 offset-2 offset-md-6">
                @Html.ActionLink("RETORNAR", "Index", null, new { @class = "btn btn-primary btn-block btn-sm"})
            </div>
        </div>
    </div>
</div>

