﻿@model SemedInstitucional.Models.Grupo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header with-border">
        <h6 class="m-0 font-weight-bold text-primary">EDITAR </h6>
    </div>
    <div class="card-body">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form">

        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
            @Html.LabelFor(model => model.Assunto, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.Assunto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Assunto, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
            
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-5 col-md-3">
                <input type="submit" value="SALVAR ALTERAÇÕES" class="btn btn-warning btn-block btn-sm" />
            </div>
            <div class="col-5 col-md-3 offset-2 offset-md-6">
                @Html.ActionLink("RETORNAR", "Index", null, new { @class = "btn btn-primary btn-block btn-sm"})
            </div>
        </div>
    </div>
}
    </div>
</div>

