﻿@model IEnumerable<SemedInstitucional.Models.Grupo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>GRUPOS</p>
<div class="row" style="border-bottom: solid; border-color: lightgray;">
    <div class="col-md-6">
        <h6 class="font-weight-bold">Grupos abertos</h6>
    </div>
    <div class="col-md-6">
        <a class="float-right" href="@Url.Action("Create", "Grupos")">Criar um grupo</a>
    </div>
</div>
@foreach (var item in Model)
{
    <h5 style="background-color: lightgray; padding: 5px; font-weight: bold; font-size: 17px;">@item.Assunto</h5>
}
