﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="px-4 py-3 bg-gradient-primary text-white" style="padding-top: 5px;">
                    <a href="@Url.Action("Index", "Escolas")" style="color: white;">
                        <p class="text-center"><i class="fa fa-university fa-3x"></i></p><p class="text-center">ESCOLAS</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="px-4 py-3 bg-gradient-success text-white" style="padding-top: 5px;">
                    <a href="@Url.Action("Index", "Setores")" style="color: white;">
                        <p class="text-center"><i class="fa fa-object-group fa-3x"></i></p><p class="text-center">SETORES</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="px-4 py-3 bg-gradient-warning text-white" style="padding-top: 5px;">
                    <a href="@Url.Action("Index", "Cargos")" style="color: white;">
                        <p class="text-center"><i class="fa fa-tty fa-3x"></i></p><p class="text-center">CARGOS</p>
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="px-4 py-3 bg-gradient-danger text-white" style="padding-top: 5px;">
                    <a href="@Url.Action("Index", "Nucleos")" style="color: white;">
                        <p class="text-center"><i class="fa fa-map fa-3x"></i></p><p class="text-center">NÚCLEOS</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
