﻿@model SemedInstitucional.Models.Escola

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header with-border">
        <h6 class="m-0 font-weight-bold text-primary">CADASTRAR ESCOLA</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NucleoID, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("NucleoID", null, htmlAttributes: new { @class = "form-control js-example-basic-single" })
                            @Html.ValidationMessageFor(model => model.NucleoID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-5 col-md-3">
                        <input type="submit" value="CADASTRAR" class="btn btn-success btn-block btn-sm" />
                    </div>
                    <div class="col-5 col-md-3 offset-2 offset-md-6">
                        @Html.ActionLink("RETORNAR", "Index", null, new { @class = "btn btn-primary btn-block btn-sm" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

