﻿@model IEnumerable<SemedInstitucional.Models.Escola>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header with-border">
        <div class="row">
            <div class="col-md-9">
                <h6 class="m-0 font-weight-bold text-primary">LISTA DE ESCOLAS</h6>
            </div>
            <div class="col-md-3">
                @Html.ActionLink("CADASTRAR", "Create", "", new { @class = "btn btn-success btn-block btn-sm" })
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" width="100%" id="myTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nucleo.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>EDITAR</th>
                        <th>DETALHES</th>
                        <th>EXCLUIR</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nucleo.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit",new { id = item.ID} )" class="btn btn-warning btn-block btn-sm">
                                    <i class="fas fa-exclamation-triangle"></i> EDITAR
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Details",new { id = item.ID} )" class="btn btn-info btn-block btn-sm">
                                    <i class="fas fa-info-circle"></i> DETALHES
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Delete",new { id = item.ID} )" class="btn btn-danger btn-block btn-sm">
                                    <i class="fas fa-trash"></i> EXCLUIR
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
}

