﻿@model IEnumerable<IGrouping<SemedInstitucional.Models.Nucleo, SemedInstitucional.Models.Escola>>
@{
    ViewBag.Title = "RedesEnsino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>ESCOLAS DA REDE DE ENSINO</p>

@foreach(IGrouping<SemedInstitucional.Models.Nucleo, SemedInstitucional.Models.Escola> obj in Model)
{
    <h5 style="background-color: lightgray; padding: 5px; font-weight: bold; font-size: 17px;">@obj.Key.Nome</h5>
    <ul>
        @foreach(SemedInstitucional.Models.Escola list in obj)
        {
            <li class="font-weight-bold text-info">@list.Nome</li>
        }
    </ul>
    <hr/>
}