﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SEMED INSTITUCIONAL</title>
    <!-- Custom fonts for this template-->
    <link href="~/SbAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/SbAdmin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/SbAdmin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="~/SbAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/SbAdmin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/SbAdmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <link href="~/SbAdmin/vendor/font-awesome/css/all.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/SbAdmin/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
</head>

<body id="page-top" class="sidebar-toggled">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @Html.Partial("_Sidebar")
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="background-color: white;">
            <div id="content">
                @Html.Partial("_LoginPartial")
                <div class="row">
                    <div class="col-md-9">
                        <div class="container-fluid" style="margin-right: 0px;">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="col-md-3" style="background-color: rgb(242,241,241); margin-top: -20px; margin-right: 0px;">
                        <div class="container-fluid" style="margin-right: 0px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center" style="color: #4E73DF">PORTAL DE NOTÍCIAS</p>
                                    @Html.Partial("_NoticiasBanner")
                                </div>
                            </div>
                            @*campo de pesquisar*@
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">Faça sua pesquisa...</p>
                                </div>
                            </div>

                            <form class="float-md-right  form-inline mr-auto ml-md-3  my-md-0 mw-100 navbar-search">
                                <div class="input-group" style="margin-top: 20px; margin-right: 5px; margin-bottom: 20px; ">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Pesquisar"
                                           aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <br />
                            @*campo de pesquisar*@
                            <br />
                        </div>
                    </div>



                </div>


                @*campo de minha equipe*@
                <div class="row">
                    <div class="col-md-9">
                        <div class="container-fluid" style="margin-right: 0px;">

                        </div>
                    </div>
                    <div class="col-md-3" style="background-color: rgb(242,241,241); margin-top: 20px; margin-right: 0px;">
                        <div class="container-fluid" style="margin-right: 0px;">
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 10px;">
                                    <p class="text-center">Escolha um contato...</p>
                                    <br />
                                    @*equipe semed*@
                                    <p class="text-center" style="color: #4E73DF">ESCOLHA SUA EQUIPE</p>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>

                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>

                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>

                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <span style="font-size: 48px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            @*campo de pesquisar*@
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center" style="color: #4E73DF">EQUIPE SEMED</p>
                                </div>
                            </div>

                            <form class="float-md-right  form-inline mr-auto ml-md-3  my-md-0 mw-100 navbar-search">
                                <div class="input-group" style="margin-top: 20px; margin-right: 5px; margin-bottom: 20px; ">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar geral..."
                                           aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <br />
                            @*campo de pesquisar*@
                            <br />
                        </div>
                    </div>
                </div>
                @*minha equipe*@


            </div>
            @*pesquisa de satifação*@
            <div class="row">
                <div class="col-md-9">
                    <div class="container-fluid" style="margin-right: 0px;">

                    </div>
                </div>
                <div class="col-md-3" style="background-color: rgb(242,241,241); margin-top: 20px; margin-right: 0px;">
                    <div class="container-fluid" style="margin-right: 0px;">
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 10px;">
                                <p class="text-center">Faça a Instituição </p>

                            </div>
                        </div>
                        @*campo de pesquisar*@
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center" style="color: #4E73DF; ">PESQUISA</p>
                                <p>
                                    Qual o grau de satisfação da última palestra no auditório?
                                    Tema "Educação e sustentabilidade"
                                </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Muito Satisfeito
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Satisfeito
                                    </label>
                                </div>
                            </div>
                        </div>

                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Minha sugestão</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Minha sugestão">

                            </div>
                            <button type="submit" class="col text-center btn btn-primary">ENVIA</button>
                        </form>
                        <br />
                        @*campo de pesquisar*@
                        <br />
                    </div>
                </div>
            </div>
            @*pesquisa de satifação*@



            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SIN NetWork </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script src="~/SbAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/SbAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/SbAdmin/js/sb-admin-2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>
    @if (TempData["Mensagem"] != null)
    {
        if (TempData["Mensagem"].ToString() == SemedInstitucional.Models.Utilidades.SystemMessage.SUCCESS_CREATE ||
            TempData["Mensagem"].ToString() == SemedInstitucional.Models.Utilidades.SystemMessage.SUCCESS_DELETE ||
            TempData["Mensagem"].ToString() == SemedInstitucional.Models.Utilidades.SystemMessage.SUCCESS_EDIT ||
            TempData["Mensagem"].ToString() == SemedInstitucional.Models.Utilidades.SystemMessage.SUCCESS_RECEBIMENTO ||
            TempData["Mensagem"].ToString() == SemedInstitucional.Models.Utilidades.SystemMessage.SUCCESS_ENVIO)
        {
            <script type="text/javascript">
                $.notify({
                    // options
                    message: '@TempData["Mensagem"].ToString()'
                }, {
                    // settings
                        type: 'success',
                        timer: 1000,
                });
            </script>
        }
        if (TempData["Mensagem"].ToString().Contains(SemedInstitucional.Models.Utilidades.SystemMessage.ERROR_ACTION) ||
            TempData["Mensagem"].ToString().Contains(SemedInstitucional.Models.Utilidades.SystemMessage.ERROR_CREATE) ||
            TempData["Mensagem"].ToString().Contains(SemedInstitucional.Models.Utilidades.SystemMessage.ERROR_EDIT) ||
            TempData["Mensagem"].ToString().Contains(SemedInstitucional.Models.Utilidades.SystemMessage.ERROR_DELETE))
        {
            <script type="text/javascript">
                $.notify({
                    // options
                    message: '@TempData["Mensagem"].ToString()'
                }, {
                    // settings
                    type: 'danger',
                    timer: 1000,
                });
            </script>
        }
    }
    @RenderSection("scripts", required: false)
</body>

</html>