﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SEMED INSTITUCIONAL</title>
    <!-- Custom fonts for this template-->
    <link href="~/SbAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/SbAdmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" class="sidebar-toggled" style="background-color:white;">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column" style="background-color: white;">
            <div id="content">
                @Html.Partial("_LoginPartial")
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white fixed-bottom" style="background-color:#c7c7c7;
        background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgb(230, 230, 230) 100%);
        padding:25px 25px; height: 120px;">
                <div class="col-md-6 offset-md-3">
                    <hr />
                </div>
                
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <p style="font-size:14px; margin-bottom: 5px; font-weight: bold;">SEMED - Sede</p>
                        <p style="font-size:11px; margin-bottom: 5px;">Av. Marechal Castelo Branco, Q. 14, n° 250 - Ed. Trade Center</p>
                        <p style="font-size:11px;">Bairro São Francisco</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="~/SbAdmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/SbAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/SbAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/SbAdmin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/SbAdmin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/SbAdmin/js/demo/chart-area-demo.js"></script>
    <script src="~/SbAdmin/js/demo/chart-pie-demo.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
