﻿@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        @*
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Fazer logoff</a></li>
            </ul>*@
    }
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background-color:#c7c7c7;
        background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgb(216, 216, 216) 100%);
        padding:8px 8px;">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <p style="font-size: 22px; font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            SEMED
            <br />
            <text style="font-size: 15px; font-weight: 100; font-family: 'Times New Roman', Times, serif;" class="d-none d-md-block">
                SECRETARIA MUNICIPAL DA EDUCAÇÃO
            </text>
        </p>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="@Url.Action("Index", "Manage")" title="Manage" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                        Olá  @User.Identity.GetUserName()
                    </span>
                    @*<img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">*@
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Dados pessoais
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Atividades
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Fazer logoff
                    </a>
                </div>
            </li>

        </ul>
    </nav>
}
else
{@*
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Logon", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top" style="background-color:#c7c7c7;
        background: linear-gradient(to top,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgb(230, 230, 230) 100%);
        padding:25px 25px; height: 200px;">
    <div class="row">
        <div class="d-none d-md-block" style="margin-left: 100px;">
            <img src="~/SBAdmin/img/PrefeituraSãoLuisSF.png" height="70" width="200" />
        </div>
        <div style="border-width: 1px; border-left: solid; padding-left: 20px; padding-top: 10px; border-color: lightgray;">
            <p style="font-size: 22px; font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                SEMED
                <br />
                <text style="font-size: 15px; font-weight: 100; font-family: 'Times New Roman', Times, serif;" class="d-none d-md-block">
                    SECRETARIA MUNICIPAL DA EDUCAÇÃO
                </text>
            </p>
        </div>
    </div>
</nav>
}

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>