﻿<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>NOTÍCIAS INTERNAS</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Home","Institucional")">
            <i class="fas fa-w fa-home"></i>
            <span>INSTITUCIONAL</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("SetoresInternos", "Setores")">
            <i class="fas fa-fw fa-object-group"></i>
            <span>SETORES</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Home", "CentroFormacao")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>CENTRO DE FORMAÇÃO</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Grupos")">
            <i class="fas fa-fw fa-users"></i>
            <span>GRUPOS</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("RedesEnsino", "Escolas")">
            <i class="fas fa-fw fa-book"></i>
            <span>ESCOLA DA REDE</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Configuracao")">
            <i class="fas fa-fw fa-cogs"></i>
            <span>CONFIGURAÇÃO</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
