﻿@using SemedInstitucional.Models
@model ExternalLoginConfirmationViewModel

@{
    ViewBag.Title = "Confirmar e-mail";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}



<div class="row" style="margin-top: -40px;">
    <div class="col-md-12">
        <h4 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; letter-spacing: 2px; font-weight:500; color: darkgray;">Bem vindo(a) a intranet SEMED!</h4>
        <hr class="col-md-6 offset-md-3" />
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="offset-md-4 col-md-4">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "border-style: solid; border-radius: 0px;" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <br />
                
                <div class="row">
                    <div class="offset-md-5 col-md-2 col text-center">
                        <input type="submit" value="Entrar" class="btn btn-primary btn-block" style="border-style: solid; border-radius: 0px; height: 35px; padding: 5px 5px; background-color: rgb(0,173,217);" />
                    </div>

                </div>
                @* Habilite quando a confirmação da conta estiver ativada para a funcionalidade de redefinição de senha
                    <p>
                        @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
