﻿@model SemedInstitucional.Models.Setor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header with-border">
        <h6 class="m-0 font-weight-bold text-primary">EXCLUIR SETOR</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h5 class="card-title text-bold">DESEJA EXCLUIR ESTE REGISTRO?</h5>
            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            <div class="form-actions no-color">
                <div class="row">
                    <div class="col-5 col-md-3">
                        <input type="submit" value="EXCLUIR" class="btn btn-danger btn-block btn-sm" />
                    </div>
                    <div class="col-5 col-md-3 offset-2 offset-md-6">
                        @Html.ActionLink("RETORNAR", "Index", null, new { @class = "btn btn-primary btn-block btn-sm" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

