﻿@model IEnumerable<SemedInstitucional.Models.Setor>
@{
    ViewBag.Title = "Setores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>SETORES</p>

<ul>
    @foreach (SemedInstitucional.Models.Setor list in Model)
    {
        <li class="font-weight-bold text-info" style="margin-bottom: 5px;">@list.Nome</li>
    }
</ul>